apiVersion: iot.sas.com/v1alpha1
kind: ESPConfig
metadata:
  name: espconfig
spec:
  # Add fields here
 espProperties:   # this is used to configure anything in esp-properties.yml
    "server.license": "b64TEMPLATE_ESP_LICB64GZ"
    #"env.security.server.server_cert": "SAS_CERTIFICATE"
    #"env.security.server.server_private_key": "SAS_CERTIFICATE_PRIVATE_KEY"
    #"security.http_ssl_enabled": "true"
    #"security.pubsub_ssl_enabled": "true"
  operatorProperties: # this is used to configure the operator that will indirectly affect ESP project configuration
    #"server.tls.issuer": "letsencrypt-staging"
    #"server.tls.secretName": "foo-sas-com-tls"
    #"server.enableSASLogon": "true"
  envMaps: # map an env var in operator to an env var in server
    #"SAS_LICENSE": "ESP_LICENSE"
  fileMaps: # map an env var representing a file in operator to an env var in server
    #"SAS_CERTIFICATE_FILE": "SAS_CERTIFICATE"
    #"SAS_CERTIFICATE_PRIVATE_KEY_FILE": "SAS_CERTIFICATE_PRIVATE_KEY"
  containerEnv: # whatever you want to pass to ESP projects
    #- name: MAS_M2PATH
    #value: /opt/sas/viya/home/SASFoundation/misc/embscoreeng/mas2py.py
    #- name: MAS_PYPATH
    #value: /mnt/data/qa/tools/anaconda3/bin/python
     
